In [34]:
import requests 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from adjustText import adjust_text

In [35]:
url = "https://fbref.com/en/comps/37/shooting/Belgian-Pro-League-Stats#all_stats_shooting"

In [36]:
pd.set_option('display.max_columns', None)
html = pd.read_html(url, header=1)
df = html[0]

In [37]:
df.head(20)

,Squad,# Pl,90s,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,PK,PKatt
0,Anderlecht,34,28.0,43,362,136,37.6,12.93,4.86,0.11,0.29,NaN,4,4
1,Antwerp,36,28.0,42,395,140,35.4,14.11,5.00,0.10,0.29,NaN,2,4
2,Beerschot,30,29.0,25,327,108,33.0,11.28,3.72,0.07,0.22,NaN,1,5
3,Cercle Brugge,28,28.0,28,377,129,34.2,13.46,4.61,0.07,0.20,NaN,2,3
4,Charleroi,29,29.0,34,413,140,33.9,14.24,4.83,0.07,0.21,NaN,4,5
5,Club Brugge,24,28.0,58,479,191,39.9,17.11,6.82,0.11,0.28,NaN,4,5
6,Dender,27,29.0,30,295,90,30.5,10.17,3.10,0.09,0.31,NaN,2,2
7,Genk,25,29.0,52,470,171,36.4,16.21,5.90,0.09,0.26,NaN,8,10
8,Gent,36,28.0,38,356,124,34.8,12.71,4.43,0.10,0.28,NaN,3,4
9,Kortrijk,33,29.0,25,335,104,31.0,11.55,3.59,0.07,0.23,NaN,1,1
10,Mechelen,27,29.0,41,372,151,40.6,12.83,5.21,0.10,0.26,NaN,2,3
11,OH Leuven,31,29.0,25,351,99,28.2,12.10,3.41,0.07,0.23,NaN,2,2
12,Sint-Truiden,32,29.0,36,387,128,33.1,13.34,4.41,0.09,0.26,NaN,3,4
13,Standard Liège,33,28.0,22,298,94,31.5,10.64,3.36,0.05,0.15,NaN,8,9
14,Union SG,29,28.0,42,411,161,39.2,14.68,5.75,0.09,0.22,NaN,6,7
15,Westerlo,30,28.0,46,449,173,38.5,16.04,6.18,0.09,0.24,NaN,4,5

In [38]:
#Rename Columns for Readability 
df.rename(columns = {
    "# Pl": "no_players",
    "90s": "no_matches",
    }, inplace=True)